# .devcontainer/docker-compose.extend.yml
name: muf-development-env

services:
  muf-dev:
    image: mcr.microsoft.com/devcontainers/python:3.11-bookworm
    volumes:
      - ..:/workspaces/MUF:cached
    command: /bin/sh -c "while sleep 1000; do :; done"
    # 通信が不要なため外部ネットワークへの依存を削除し、独立したネットワークを使用します
    environment:
      - PYTHONPATH=/workspaces/MUF