services:
  muf-echo-unit:
    volumes:
      # 起点をリポジトリルートに変更
      - .:/workspaces/MUF:cached
    command: /bin/sh -c "while sleep 1000; do :; done"
    environment:
      - PYTHONPATH=/workspaces/MUF