# muf/redis/docker-compose.yml

services:
  muf-redis:
    image: redis:7.2-alpine
    container_name: muf-redis
    environment:
      - LOCAL_WORKSPACE_FOLDER=${LOCAL_WORKSPACE_FOLDER:-..}
    # ACLファイルの参照先を /etc/redis/users.acl に変更しました
    command:
      - "redis-server"
      - "--notify-keyspace-events"
      - "KEA"
      - "--appendonly"
      - "yes"
      - "--maxmemory"
      - "512mb"
      - "--maxmemory-policy"
      - "allkeys-lru"
      - "--aclfile"
      - "/etc/redis/users.acl"
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - ${LOCAL_WORKSPACE_FOLDER:-..}/redis/users.acl:/etc/redis/users.acl:ro
    networks:
      - muf-network
    restart: always

networks:
  muf-network:
    name: muf-network

volumes:
  redis_data:
